body{background-color: rgb(245, 199, 142);}

h1{
  border: solid blue; padding-left: 475px;
}
p{text-align: center;}

img {
  border: solid blue;;
  display: block;          
  margin: 0 auto;          
  max-width: 100%;
  height: auto;
}
